@import './variables.scss';
@import './slide.scss';

:global {
    .#{$fullscreenClass} {
        position: fixed !important; // the origin position:relative will cause the scrollbar

        &+.close {
            right: unset !important;
            left: 25px !important;
            top: 25px !important;
        }

        .#{$playerContainerClass} {
            width: 100% !important;
            height: 100% !important;
            position: fixed !important;
            top: 0;
            left: 0;
            overflow: hidden !important;
            z-index: 1001 !important;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
        }
        .comment-container {
            position: fixed !important;
            z-index: 1002;
            left: -29.5%;
            height: 80% !important;
            width: 30%;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                left: 0;
            }

            &>*{
                width: 100% !important;
            }
        }
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.9);
    }
}
