/* for picture mode */

.fullscreen .long-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.92) !important;
    overflow: hidden !important;

    img.long-mode-item {
        position: absolute !important;
        max-height: 100%;
        width: 100%;
        height: auto;
        object-fit: contain;
        z-index: 1002;

        animation: slide 6000ms ease-in-out forwards;
        animation-fill-mode: both;
        animation-direction: alternate;
    }

    @keyframes slide {
        0% {
            opacity: 0.65;
            transform: scale(1);
        }

        35%, 
        90% {
            opacity: 1;
        }

        100% {
            opacity: 0.35;
            transform: scale(1.2);
        }
    }
}
