/* for video mode */

.fullscreen .comment-container {
    position: fixed;
    z-index: 1002;
    left: -29%;
    height: 80%;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        left: 0;
    }
}
